<!--
  Generated template for the CarrinhoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color = "padrao">
    <ion-title>Confirmar Pedido</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: #d9d9d9;" >
  <ion-list>
    <ion-item-sliding *ngFor="let item of lista_pizzas | async">
    <ion-item>
      <ion-thumbnail item-start >
        <img src = {{item.url}} style="width: 100px; height:70px;">
      </ion-thumbnail>
      <h5>{{item.Nome}}</h5>
      <p style="color:#8C1717;">R${{item.Preco*item.qtd}}</p>
      <ion-icon name="remove-circle" style="color:#a80611" (click)="decrement(item)"></ion-icon>
      {{item.qtd}}
      <ion-icon name="add-circle" style="color:#a80611" (click)="increment(item)"></ion-icon>
      <button ion-button item-end style="background-color:#a80611;" (click)="remover_pedido(item.Nome)"><ion-icon name="trash"></ion-icon></button>
       
     </ion-item>
    </ion-item-sliding>
        
  </ion-list> 

  
        <ion-item small style="background-color:#a80611" class = "margem">
            <ion-label style="color:white">Entregar em:</ion-label>
              <ion-select [(ngModel)]="entrega" id=“select-option”>
                  <ion-option value="localizacao">Minha localização</ion-option>
                  <ion-option value="endereco">Endereço cadastrado</ion-option>
                  <ion-option value="pizzaria">Irei buscar no local</ion-option>  
              </ion-select> 
            </ion-item>
              <table style="margin-top:5px;" class = "margem"> 
                <tr>
                  <td><ion-input type="number" placeholder="Número da casa ou apto" style="background-color:white; color:#a80611 ;padding-left:3px" value="" [(ngModel)]="numero"></ion-input></td>
                  <td><ion-input type="text" placeholder="Complemento" style="background-color:white; color:#a80611" value="" [(ngModel)]="complemento"></ion-input></td>
                </tr>
                
              </table>
            <ion-item small style="background-color:#a80611; margin-top:10px;"class = "margem">
              <ion-label style="color:white">Pagamento:</ion-label>
                <ion-select [(ngModel)]="pagamento" id=“select-option”>
                    <ion-option value="dinheiro">Dinheiro</ion-option>
                    <ion-option value="cartao">Cartão</ion-option>  
                </ion-select> 
              </ion-item>
  
  <div id="botao">
      <button ion-button item-end icon-left color="secondary" style="font-family:Roboto;font-size:12px; margin-top:10px;" (click) = "finalizar_pedido()"><ion-icon name="checkmark-circle-outline"> Finalizar pedido</ion-icon></button>
  </div> 
  
</ion-content>
  <!--<ion-footer style="background-color :#FC363B; color:white;" *ngFor="let item of lista_endereco | async">
  <p style="margin-left: 5px;"> <strong>Entregar em: </strong>{{item.endereco}}</p>
  </ion-footer> !-->
 